h2::before {
    content: "";
    width: 200px;
    height: 120px;
    display: block;
    background-image: url('img/gato.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}



/* 
red(vermelho):0
green(verde): 100%
blue(azul):0
*/

/*
h= hue -> matriz - 0 > 360
s= saturation -> saturação - 0% > 100%
l= lightness -> brilho - 0% > 100%
*/