body {
    width: 100vw;
    height: 100vh;
    /* background-color: aquamarine;
    background-image: url('img/gato.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left center;
    background-size: 400px; */

    background: aquamarine url('img/gato.jpg') no-repeat fixed center center / 400px;
}



/* 
red(vermelho):0
green(verde): 100%
blue(azul):0
*/

/*
h= hue -> matriz - 0 > 360
s= saturation -> saturação - 0% > 100%
l= lightness -> brilho - 0% > 100%
*/